jupyter_core==5.8.1
jaraco.context==0.0.0
textdistance==4.2.1
Sphinx==7.3.7
lazy_loader==0.4
pycosat==0.6.6
jedi==0.19.2
torchinfo==1.8.0
diff-match-patch==20200713
Bottleneck==1.3.7
pyasn1_modules==0.4.2
tinycss2==1.2.1
mypy-extensions==1.0.0
tomli==2.0.1
fsspec==2024.6.1
pylint==2.16.2
pydantic==2.8.2
parsel==1.8.1
itemloaders==1.3.2
more-itertools==10.3.0
pyarrow==16.1.0
ujson==5.10.0
referencing==0.30.2
lxml==5.3.0
platformdirs==4.3.7
pyasn1==0.6.1
regex==2024.9.11
chardet==5.2.0
idna==3.7
python-dateutil==2.9.0.post0
nvidia-cudnn-cu12==9.10.2.21
QDarkStyle==3.2.3
soupsieve==2.5
mkl_fft==1.3.11
boltons==23.0.0
tomlkit==0.11.1
mkl-service==2.4.0
aiohappyeyeballs==2.4.0
menuinst==2.3.1
nvidia-nccl-cu12==2.27.3
uvloop==0.21.0
pydantic_core==2.20.1
asttokens==3.0.0
Scrapy==2.11.1
ruamel-yaml-conda==0.17.21
blinker==1.6.2
zict==3.0.0
three-merge==0.1.1
sphinxcontrib-qthelp==1.0.3
pexpect==4.9.0
attrs==24.3.0
nvidia-cusparselt-cu12==0.7.1
pytoolconfig==1.2.6
importlib_metadata==8.5.0
aiohttp==3.10.5
argon2-cffi-bindings==21.2.0
imagesize==1.4.1
aiosignal==1.2.0
bcrypt==3.2.0
nvidia-cuda-runtime-cu12==12.8.90
pycares==4.10.0
atomicwrites==1.4.0
six==1.16.0
smmap==4.0.0
nvidia-cusparse-cu12==12.5.8.93
SecretStorage==3.3.1
cffi==2.0.0
sphinxcontrib-htmlhelp==2.0.0
mkl_random==1.2.8
scikit-learn==1.5.1
queuelib==1.6.2
==
frozenlist==1.4.0
traitlets==5.14.3
torchmetrics==1.8.2
PyQt5_sip==12.13.0
Rtree==1.0.1
snowballstemmer==2.2.0
ply==3.11
botocore==1.34.69
unicodedata2==15.1.0
Send2Trash==1.8.2
whatthepatch==1.0.7
==
PyQt6_sip==13.10.2
kiwisolver==1.4.8
distro==1.9.0
archspec==0.2.3
ipython_pygments_lexers==1.1.1
Pygments==2.19.1
spyder-kernels==2.5.0
xyzservices==2025.4.0
pip==25.2
lazy-object-proxy==1.10.0
sip==6.7.12
conda==24.9.2
pycodestyle==2.11.1
Protego==0.4.0
colorama==0.4.6
beautifulsoup4==4.12.3
toml==0.10.2
HeapDict==1.0.1
python-lsp-black==2.0.0
filelock==3.17.0
jaraco.classes==3.4.0
lmdb==1.6.2
typing_extensions==4.11.0
stack-data==0.2.0
networkx==3.5
cachetools==5.5.1
conda_package_streaming==0.12.0
flake8==7.0.0
rfc3339-validator==0.1.4
smart-open==5.2.1
parso==0.8.4
rfc3986-validator==0.1.1
markdown-it-py==2.2.0
keyring==25.6.0
einops==0.8.1
msgpack==1.1.1
dask-expr==1.1.13
jsonpointer==3.0.0
conda-content-trust==0.2.0
wrapt==1.17.0
conda-token==0.5.0+1.g2209e04
cssselect==1.2.0
pyls-spyder==0.4.0
pytorch-lightning==2.5.5
debugpy==1.8.16
nvidia-curand-cu12==10.3.9.90
tenacity==8.2.3
conda-package-handling==2.4.0
cookiecutter==2.6.0
python-lsp-server==1.10.0
jupyterlab_pygments==0.3.0
pyerfa==2.0.1.5
et-xmlfile==1.1.0
pytorch-metric-learning==2.9.0
pyflakes==3.2.0
sphinxcontrib-jsmath==1.0.1
itemadapter==0.12.1
conda-pack==0.8.1
certifi==2025.10.5
decorator==5.2.1
astroid==2.14.2
PySocks==1.7.1
psutil==7.0.0
nvidia-nvjitlink-cu12==12.8.93
kaggle==1.7.4.2
sympy==1.13.2
sympy==1.14.0
rich==13.7.1
PyDispatcher==2.0.7
pluggy==1.5.0
==
fonttools==4.60.1
jsonschema-specifications==2023.7.1
docutils==0.21.2
python-dotenv==1.1.0
anaconda-catalogs==0.2.0
yarl==1.18.0
multidict==6.7.0
nvidia-cufft-cu12==11.3.3.83
joblib==1.5.2
qtconsole==5.5.1
tzdata==2025.2
MarkupSafe==3.0.2
appdirs==1.4.4
tornado==6.4.1
pyparsing==3.2.0
nvidia-cufile-cu12==1.13.1.3
torch==2.8.0
wheel==0.45.1
sniffio==1.3.0
jmespath==1.0.1
click==8.1.7
ptyprocess==0.7.0
zipp==3.21.0
yapf==0.40.2
lightning-utilities==0.15.2
cryptography==46.0.2
intervaltree==3.1.0
aiodns==3.5.0
anaconda-client==1.12.3
alabaster==0.7.16
torchvision==0.23.0
packaging==24.2
constantly==23.10.4
triton==3.4.0
gitdb==4.0.12
anyio==4.2.0
rpds-py==0.10.6
setuptools==75.1.0
nest-asyncio==1.6.0
bleach==4.1.0
rope==1.12.0
zstandard==0.24.0
sphinxcontrib-serializinghtml==1.1.10
pathspec==0.12.1
numexpr==2.11.0
astropy-iers-data==0.2024.9.2.0.33.23
numpydoc==1.9.0
aioitertools==0.7.1
pure_eval==0.2.3
mpmath==1.3.0
QtPy==2.4.1
incremental==24.7.2
jsonpatch==1.33
spyder==5.5.1
PyQt5==5.15.10
arrow==1.2.3
tifffile==2023.4.12
torchsummary==1.5.1
conda-libmamba-solver==25.3.0
watchdog==4.0.1
docstring-to-markdown==0.17
nvidia-nvtx-cu12==12.8.90
anaconda-cloud-auth==0.5.1
pickleshare==0.7.5
jsonschema==4.25.0
argon2-cffi==21.3.0
sphinxcontrib-applehelp==1.0.2
cycler==0.11.0
libmambapy==2.3.2
imagecodecs==2024.9.22
uc-micro-py==1.0.1
terminado==0.17.1
nbconvert==7.16.6
SQLAlchemy==2.0.34
nbclient==0.10.2
charset-normalizer==3.3.2
conda-repo-cli==1.0.114
PyJWT==2.10.1
statsmodels==0.14.2
protobuf==4.25.3
matplotlib==3.10.6
bokeh==3.6.0
truststore==0.8.0
pytz==2025.2
requests-toolbelt==1.0.0
cloudpickle==3.1.1
inflection==0.5.1
streamlit==1.37.1
numpy==1.26.4
binaryornot==0.4.4
ipython==8.30.0
GitPython==3.1.43
lz4==4.3.2
executing==2.2.1
threadpoolctl==3.5.0
altair==5.0.1
scipy==1.13.1
wurlitzer==3.1.1
Jinja2==3.1.6
zope.interface==7.1.1
frozendict==2.4.2
mdurl==0.1.2
python-lsp-jsonrpc==1.1.2
semver==3.0.2
dill==0.4.0
nvidia-cublas-cu12==12.8.4.1
anaconda-project==0.11.1
pylint-venv==3.0.3
jellyfish==1.1.3
pycparser==2.23
intake==2.0.8
tldextract==5.1.2
matplotlib-inline==0.1.7
ruamel.yaml.clib==0.2.8
ruamel.yaml==0.18.6
text-unidecode==1.3
pandocfilters==1.5.1
python-slugify==8.0.4
hyperlink==21.0.0
s3fs==2024.6.1
prompt_toolkit==3.0.52
anaconda-anon-usage==0.4.4
pyxdg==0.28
mistune==3.1.2
Brotli==1.0.9
w3lib==1.21.0
scikit-image==0.24.0
greenlet==3.2.4
pandas==2.3.3
pkce==1.0.3
astropy==6.1.3
sphinxcontrib-devhelp==1.0.2
autopep8==2.0.4
PyYAML==6.0.3
mccabe==0.7.0
service-identity==18.1.0
dask==2024.8.2
nvidia-cusolver-cu12==11.7.3.90
fastjsonschema==2.20.0
Unidecode==1.3.8
nvidia-cuda-cupti-cu12==12.8.90
wandb==0.20.1
urllib3==2.2.3
toolz==0.12.0
QtAwesome==1.3.1
aiobotocore==2.12.3
propcache==0.3.1
tqdm==4.66.5
distributed==2024.8.2
tblib==1.7.0
webencodings==0.5.1
nvidia-cuda-nvrtc-cu12==12.8.93
defusedxml==0.7.1
requests==2.32.3
Twisted==23.10.0
nbformat==5.10.4
sentry-sdk==2.40.0
annotated-types==0.6.0
cytoolz==1.0.1
pydocstyle==6.3.0
imageio==2.37.0
isort==5.13.2
requests-file==1.5.1
torch-fidelity==0.3.0
partd==1.4.2
patsy==1.0.1
pillow==10.4.0
jupyter_client==8.6.3
qstylizer==0.2.2
wcwidth==0.2.5
sortedcontainers==2.4.0
pydeck==0.9.1
brotlicffi==1.0.9.2
seaborn==0.13.2
pyOpenSSL==25.3.0
ipykernel==6.30.1
PyQtWebEngine==5.15.6
setproctitle==1.3.7
tabulate==0.9.0
jeepney==0.7.1
Babel==2.11.0
comm==0.2.1
black==24.8.0
locket==1.0.0
pyzmq==27.1.0
Automat==24.8.1
jaraco.functools==4.1.0
contourpy==1.3.1
